LastStandAwakening/Binaries
LastStandAwakening/DerivedDataCache
LastStandAwakening/Intermediate
LastStandAwakening/Saved
LastStandAwakening/.vscode
LastStandAwakening/Build
LastStandAwakening/BuildVideoCommunity


LastStandAwakening/*.VC.db
LastStandAwakening/*.opensdf
LastStandAwakening/*.opendb
LastStandAwakening/*.sdf
LastStandAwakening/*.sln
LastStandAwakening/*.suo
LastStandAwakening/*.xcodeproj
LastStandAwakening/*.xcworkspace
LastStandAwakening/Content/Dynamic/Levels/FirstPersonExampleMap_BuiltData.uasset
LastStandAwakening/.vs/S05_TestingGrounds/v15/ipch/
LastStandAwakening/.vs/
LastStandAwakening/.ignore
LastStandAwakening/LastStandAwakening.code-workspace
LastStandAwakening/LastStandAwakening.uproject

